/* Default Styles */


body {
  background-color: $fenix-light-bg;
  font-family: "FrutigerLTW02-45Light", Arial, Helvetica, Verdana, sans-serif;
}

.fx-sandbox{
  padding: 0 5px;
}



.container{
  background-color: white;

}

.website-title{

  font-size: 24px;
  color: black;

}

.fit-height{
  height: 100%;
}

/* Compare Result */
.fixed-height{
  height: 350px;
}


h1{
  color: #333;
}

h2{
  color: $fx-cool-blue;

}

.obj-box-header{
  z-index: 1;


  .btn-default{
    position: absolute;
    right: 25px;
    top: 6px;
  }

  h1{
    margin: 0;
  }


  p{
    margin: 0;
  }


  padding: 5px 15px;
  //height: 34px;
  border: 1px solid #C2C2C2;
  background: #fafafa;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
}


.obj-box{
  margin-top: 0;
  position: relative;
  //min-height: 155px;
  //z-index: 1; // Removed to avoid overlapping between boxes (dropdown)
}

.adam-entry-point{
  position: relative;


  &:nth-child(odd){

    .adam-entry-point-content{
      &:before{
        content:'';
        display: block;
        position: absolute;
        bottom: 0;
        width: 80%;
        left: 10%;
        height: 1px;
        background-color: #dfdfdf;
      }


      &:after{
        content:'';
        display: block;
        position: absolute;
        right: 0;
        width: 1px;
        top: 10%;
        height: 80%;
        background-color: #dfdfdf;
      }

    }

  }

  &:nth-child(even){


    .adam-entry-point-content{
      &:before{
        content:'';
        display: block;
        position: absolute;
        bottom: 0;
        width: 80%;
        left: 10%;
        height: 1px;
        background-color: #dfdfdf;
      }


    }

  }

  &:last-child{


    .adam-entry-point-content{
     margin-bottom:100px ;


    }

  }



  .adam-entry-point-content{
    padding: 35px;
  }



  h2{
    font-size: 16px;
    color: $fenix-text;
  }

  p.title{
    color: $custom-color8;
    font-size: 28px;
  }

  p.text-justify{
    color: $fenix-secondary-text;
  }

}

.tree-holder {
  height: 150px;
  overflow-y: auto;
  //overflow-x: hidden;

}


.fx-arrow-time{
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  display: block;


  &:before{
    content: '';
    position: absolute;
    top: 3px;
    width: 100%;
    height: 1px;
    display: block;
    background-color: $fenix-secondary-text;
  }


  &:after{
    content: '';
    width: 0;
    height: 0;
    display: block;
    right: -1px;
    position: absolute;
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent $fenix-secondary-text;
  }


}

#browse-top-link-fixed{
  position: fixed;
  left: -150px;
  bottom: 100px;
  opacity: 0;
  @include animate();
}

#browse-top-link-fixed.affix{
  left: 15px;
  opacity: 1;
  z-index: 2;
}


a{
  color: $fx-cool-blue;

  &:focus{
    outline: none;
  }

  &:active{
    outline: none;
  }

}

.dropdown-menu > li > a{
  font-weight: 300;
  color:$fenix-text;
}

h1{
  font: $fx-text-h1;
  color: $fx-cool-blue;
}

h2{
  font: $fx-text-h2;
  color: desaturate( $fx-cool-blue, 30% );
}

h3{
  font: $fx-text-h3;
  color: desaturate( $fx-cool-blue, 50% );
}

h4{
  font: $fx-text-h4;
  color: desaturate( $fx-cool-blue, 70% );
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small{
  font-family: Roboto;
  font-weight: 700;
  color: $fx-cool-blue;
  text-transform: uppercase;
  font-size: 12px;
}



.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}





/** Venn Text Area */
#venn-diagram-info-box textarea {
  width: 100%;
  height: 500px;
  padding: 10px;
  resize: none;
}

/** Table Sort Icons */
.gt-hd-icon.gt-hd-asc{
  @extend .fa;
  @extend .fa-caret-up;
}

.gt-hd-icon{
  @extend .fa;
  @extend .fa-sort;
}


.gt-hd-icon.gt-hd-desc{
  @extend .fa;
  @extend .fa-caret-down;
}

/** Table Header */
.gt-hd-row td .gt-inner  {
  font-weight: 600;
  font-size: 14px;
  text-transform: none;
}

/*!** Table Highlighted Columns: Comparative Advantage Only *!
div[data-item="comp_advantage"] .gt-col-1_11-ratio, div[data-item="comp_advantage"] .gt-col-1_11-purposecode_en, div[data-item="comp_advantage"] .gt-col-1_11-year  {
  background-color:#eef6ff;
}*/

/** Table Cell Alignment */
.gt-inner-left {
  text-align: left;
}

/**  Table Page size drop-down */
.gt-pagesize-select {
  width: 48px
}

.big-col-width {
  width: 246px;
}

.smaller-col-width {
  width: 66px;

}


.small-col-width {
  width: 96px;
}

.obj-box-info {
  font-size: 12px;
}

//Table Header Row
//.gt-freeze-div[id*="headDiv"] td {
//  background-color:  #ABC8E1 !important;
//}

/*.gt-row-selected td {
!**  background-color: #e6f1ff; **!

}

!* Freezed Rows *!
.gt-freeze-div[id*="bodyDiv"] td {
!**  background-color: #f4f4f4 !important;**!

}*/
