<div class="row">

    <div class="col-sm-12">
        <div class="row">
            <div id="analyse-partner-matrix-filter-holder" class="col-sm-12">
            </div>
        </div>
        <div class="col-sm-12">
            <div id="fx-title-items"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="analyse-partner-matrix-top-link-fixed" data-spy="affix" class="well well-sm">
                    <a href="#" id="backToTopBtn">
                        <span class="fa fa-chevron-up"></span>
                    </a>
                </div>

                <div id="analyse-partner-matrix-content">
                </div>
            </div>
        </div>

    </div>
</div>


