<div class="row">

    <div class="col-sm-12">

        <div id="table-filter"></div>

        <div id="table-info">{{results}}: {{data.size}} {{rows}}</div>

        <div id="table"></div>

    </div>
</div>

