<div class="row">

    <div class="col-md-12">
        <!-- FILTER -->
        <div class="row">
            <div id="analyse-ca-filter-holder" class="col-md-12">
            </div>
        </div>
        <!-- TITLE -->
        <div class="col-md-12">
            <div id="analyse-ca-fx-title-items"></div>
        </div>
        <div class="row">
            <div class="col-md-12" id="analyse-ca-progress-bar-holder">
            </div>
            <!-- TABLE DASHBOARD -->
            <div class="col-md-12">
                <div id="analyse-ca-table-content">
                </div>
            </div>
            <!-- CHARTS DASHBOARD -->
            <div class="col-md-12">
                <div id="analyse-ca-charts-content">
                </div>
            </div>
        </div>
    </div>
</div>


