
          <div class="obj-box">
              <div id="filter-analyse-comp-advantage" class="filter-container row">

              </div>

              <div id="filter-analyse-comp-advantage-errors-holder">
              </div>
        </div>
