<div class="row">

    <div class="col-sm-12">

        <div id="table-filter"></div>

        <div id="table-info">
            <p>
                <span id="table-description">{{comp_advantage_desc}}</span>
                <span id="table-read-more">{{read_more}} <a href="" target="_blank">{{here}}</a>.</span>
            </p>
            <p><span>{{rowsFound}}:</span> <span id="table-size"></span></p>
        </div>

        <div id="table"></div>

    </div>
</div>

