<div class="row">
    <div class="col-sm-12">

        <div class="filter-browse">
            <div class="obj-box">
                <div id="filter-browse" class="filter-container row">
                    <div id="compare-filter"></div>
                </div>
            </div>
        </div>


        <button disabled id="add-btn" type="button" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Add a new analysis box
        </button>

        <div id="compare-analysis"></div>

    </div>
</div>


