<div>
    <section data-topic="venn_analysis">
        <div class="row">
            <div class="col-sm-12" id="venn-container">
                <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{venn}}</b>:</span> {{label}}</p></div>
                <div class="obj-box">
                    <div data-item="venn"></div>
                </div>
            </div>
        </div>
    </section>
</div>
