/* Analyze Data */



.analyze-compare-selectors{


  .tab-content{

    padding-top: 0;

  }


  .fx-tabs .nav-tabs > li{

    margin: 0;

    margin-bottom: 5px;
  }

}

.fx-tabs{
  .nav-tabs{
    border-color: transparent;
  }
}





.selector-content{

  margin-top: 34px;
  margin-bottom: 10px;


  [data-role="filter"]{

    margin-bottom: 7px;

  }

}

[data-selector="country-country"], [data-selector="country-region"], [data-selector="regional-aggregation"]{

  .selector-content{
    margin-top: 0;

  }


}


.year-select{
  font-size: 24px;
  position: relative;
  top: 47px;
  left: 10px;
  color: $fenix-secondary-text;
}

.compare-collapse-btn{
  color: $fenix-text;
  cursor: pointer;


  span{
    font-size: 18px;
    margin-left: 5px;
    position: relative;
    top: 3px;
  }

  &:hover{
    color: $fenix-text;

    text-decoration: none;

  }


}