<div class="row">

    <div class="col-sm-12">
        <div class="row">
            <div id="analyse-priority-analysis-filter-holder" class="col-sm-12">
            </div>
        </div>
        <!-- TITLE -->
        <div class="col-sm-12">
            <div id="analyse-priority-analysis-fx-title-items"></div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="analyse-priority-analysis-progress-bar-holder">
            </div>
            <!-- TABLE DASHBOARD -->
            <div class="col-sm-12">
                <div id="analyse-priority-analysis-table-content">
                </div>
            </div>
            <!-- CHARTS DASHBOARD -->
            <div class="col-sm-12">
                <div id="analyse-priority-analysis-charts-content">
                </div>
            </div>
        </div>

    </div>
</div>


