<div class="row">

    <div class="col-md-12">
        <!-- FILTER -->
        <div class="row">
            <div id="analyse-pa-filter-holder" class="col-md-12">
            </div>
        </div>
        <!-- TITLE -->
        <div class="col-md-12">
            <div id="analyse-pa-fx-title-items"></div>
        </div>

        <div class="row">
            <!-- PRIORITIES DASHBOARD PROGRESS BAR -->
            <div class="col-md-12" id="analyse-pa-priorities-progress-bar-holder">
            </div>
            <!-- PRIORITIES DASHBOARD -->
            <div class="col-md-12">
                <div id="analyse-pa-priorities-content">
                </div>
            </div>
            <!-- CHARTS DASHBOARD PROGRESS BAR -->
            <div class="col-md-12" id="analyse-pa-charts-progress-bar-holder">
            </div>
            <!-- CHARTS DASHBOARD -->
            <div class="col-md-12">
                <div id="analyse-pa-charts-content">
                </div>
            </div>
        </div>
    </div>
</div>


