<div>
<section data-topic="country">
    <div class="row">
        <div class="col-sm-12" id="priority-analysis-container">
            <div class="obj-box-header"><p  title="{{label}}"><span class="display-box-header"><b>{{priority-analysis}} / {{matrix}}</b>:</span> {{label}}</p></div>
            <div class="obj-box">

                <div data-item="priority-analysis"></div>
            </div>
        </div>
    </div>
</section>
</div>