<div class="clearfix">
    <h1 class="cp-title">Belgium</h1>

    <img src="src/images/belgium.svg" alt="Belgium flag" class="cp-flag">

</div>


<section id="1_section">
    <h2 class="cp-subtitle">Overview and key figures</h2>

    <p>According to OECD DAC figures, in 2014, Belgium delivered USD 2.4 billion in net ODA, which represented 0.46% of
        gross national income (GNI) and an increase of 5.8% from 2013. This represents a slight reversal of the downward
        trend in ODA, which decreased both in terms of volume and as a percentage of GNI from a peak of 0.64% in 2010.
        Belgium is the 9th largest Development Assistance Committee (DAC) donor in terms of ODA as a percentage of GNI
        and the 14th donor in terms of volume. The outlook for growth in Belgium’s ODA is negative, however the
        government is committed to the target of 0.7% ODA/GNI, which is enshrined in law. </p>

    <img src="src/images/belgium_oda.jpg" alt="Belgium ODA" class="img-responsive">

    <em class="small">Source: OECD DAC dataset</em>


</section>

<section id="2_section">
    <h2 class="cp-subtitle">Overall strategy / Stated priority themes</h2>

    <p>The priority objective of Belgian Development Cooperation is sustainable human development.
        It must achieve this objective whilst reducing poverty, within a context of partnerships, and respecting
        criteria of relevance to development. It must also generate and increase the Belgian public's support for
        North-South solidarity and Belgian’s cooperation policy.
    </p>

    <p>Belgian development cooperation is based on four objectives:

    <ul>
        <li>Improve policy coherence in relation to sustainable development objectives;</li>
        <li>Effectiveness of aid;</li>
        <li>Cooperation will be based on rights, including the right to food and women empowerment;</li>
        <li>The Post -2015 Agenda should discuss inequality and the importance of social protection.</li>
    </ul>

    Themes:

    <ul>
        <li>Humanitarian aid and resilience: General overview + methodology, "Good Humanitarian Donorship" (GHD), The
            European Consensus on humanitarian aid;
        </li>
        <li>Inclusive growth: Agriculture and food security, Infrastructure, Aid for Trade, Innovative financing, Debt
            relief, Private sector;
        </li>
        <li>Social development: Education and training, Health, Migration and development;</li>
        <li>Climate, environment and natural resources: RIO+20 - Conference on Sustainable Development, UNEP: United
            Nations Environment Programme, Global Environment Facility, Climate change, Biodiversity, Desertification;
        </li>
        <li>Consolidation of society and conflict prevention: Gender, Human rights including children rights;</li>
        <li>Development education.</li>
    </ul>


    </p>


</section>

<section id="3_section">
    <h2 class="cp-subtitle">FAO Related priorities</h2>

    <p>Belgium is a key strategic partner for FAO, hosting the FAO Liaison Office in Brussels and generously funding
        innovative and critical areas in support of food security, economic growth, employment and income generation for
        resilient and sustainable development. </p>

    <p>Agriculture and food security: Action taken by Belgian Development Cooperation in the domain of agriculture and
        food security can be either humanitarian or structural.</p>

    <p>Belgium recognizes the close connection between humanitarian aid and development programmes, as provided for by
        FAO’s Strategic Objective to Increase the resilience of livelihoods to disasters.
        Belgium became the first donor to support FAO's emergency response in countries affected by crises and major
        disasters, particularly during the typhoon Haiyan in the Philippines and conflict in Central African Republic
        and South Sudan. Belgium contributes to emergency response and building resilience through the Special Fund for
        Emergency and Rehabilitation Activities of FAO (SFERA).
        Belgium advocates not using any of its own (excess) food in such contexts, but rather buying as much food aid as
        possible from farmers in the South. In that way, food aid does not disrupt local markets. In the wake of a
        crisis, through the UN’s Food and Agriculture Organization (FAO), Belgium supports projects designed to rebuild
        devastated agricultural production systems.
    </p>

    <p>Structural interventions: DGD supports structural interventions to sustainably increase food production in
        developing countries. This is done in direct collaboration with the governments in partner countries as
        agriculture is a priority sector in most Indicative Cooperation Programmes (ICPs). The Belgian Investment
        Company for Developing Countries (BIO) also supports the expansion of private companies active in the
        agricultural sector.</p>


    <p>Priorities:
    <ul>
        <li>Agricultural production: Improvement and safeguarding of production and of agricultural productivity,
            integrating the sustainable development dimension.
        </li>
        <li>From products to markets: Adding value to local products and improving access to markets.</li>
        <li>Governance of the agriculture sector: strengthening of the State, civil society and farmer organizations
        </li>
        <li>Rural women: Individual and collective empowerment of rural women</li>
    </ul>

    </p>


    <p>Belgium also manages the Belgian Fund for Food Security (BFFS) dedicated to food security and specifically
        targeting the most vulnerable people in Africa.
        The Belgian Fund for Food Security adopted an integrated and multi-sectoral integrated approach, engaging in
        actions geared not only towards boosting agricultural and food production and securing the drinking water
        supply, but also improving healthcare, basic education and other fundamental social benefits. Since 2010, the
        BFFS has funded various interventions in support of national policies and programs for food security in target
        countries.
    </p>

    <p>The BFFS is to ensure that all dimensions of food security are included as much as possible in its programmes:

    <ul>
        <li>Availability: Sufficient food production for all families: Better varieties, manuring and disease control
            enhance production. Micro-credits help the farmers along the way.
        </li>
        <li>Access: Sufficient income to purchase food: Food must moreover be physically and socially accessible.
            Markets are often poorly stocked or there are not sufficient access roads in isolated areas. In some
            traditions, the man of the house eats first, and the remaining food is then distributed among the wife and
            the children.
        </li>
        <li>Stability: Availability of and access to food year round: Food is often more scarce and more expensive
            during the dry season. Better storage and processing and the growth of alternative crops are a possible
            solution.
        </li>
        <li>Consumption: A balanced diet which, in addition to calories, provides also sufficient essential nutrients
            such as vitamins. Drinking contaminated water leads to undernourishment as do untreated diseases. This is
            particularly harmful for children under 5.
        </li>
    </ul>
    </p>


    <p>Climate, environment and natural resources<br>
        Thematic integration of conservation and protection of the environment Belgian governmental cooperation (Art.19)
        focuses primarily on four sectors:


    <ul>
        <li>Education and training
        </li>
        <li>Basic infrastructure
        </li>
        <li>Healthcare and
        </li>
        <li>Agriculture and food security in which coherence between the environmental strategy and the relevant
            sectoral strategies will be pursued. Where relevant, integration of the environmental theme will also be
            included in the priority themes of bilateral Belgian cooperation
        </li>
    </ul>


    </p>

    <p>Strengthening the environmental policy or environmental governance, as an essential element for sustainable development, was one of the Belgian and EU priorities during the Rio+20 negotiations and the reform of the UN, including upgrading UNEP from a programme to a UN organization with universal membership, and will continue during the post-2015 negotiations.

    </p>

</section>


<section id="4_section">
    <h2 class="cp-subtitle">Priority geographical areas</h2>

    <p>Belgian Development Cooperation has also refined its geographical strategy, choosing to focus on the least developed countries and fragile states, in geographically homogeneous regions, namely North and West Africa and the Great Lakes region. Due to this, the Belgian Development Cooperation will focus on 14 partner countries:
        Benin - Burkina Faso - Burundi - DR Congo - Guinea - Mali - Morocco - Mozambique - Niger - Palestinian Territory - Rwanda - Senegal - Tanzania - Uganda

    </p>


    <p>The Belgian Fund for Food Security Field of activity: Sub-Saharan Africa (preferably in areas with high food insecurity).</p>

    <img src="src/images/belgium_top.jpg" alt="Belgium TOP" class="img-responsive">

    <em class="small">Source: ADAM tool based on OECD CRS dataset</em>


</section>
<section id="4b_section">
    <h2 class="cp-subtitle">AID by Sector</h2>

    <img src="src/images/belgium_top.jpg" alt="Belgium TOP" class="img-responsive">

    <em class="small">Source: ADAM tool based on OECD CRS dataset</em>

</section>


<section id="5_section">
    <h2 class="cp-subtitle">ODA by Sector</h2>

    <img src="src/images/belgium_oda.jpg" alt="Belgium ODA" class="img-responsive">

    <em class="small">Source: ADAM tool based on OECD CRS dataset</em>
</section>

<section id="6_section">
    <h2 class="cp-subtitle">Funding bodies within resource partner</h2>

    <p>
        Directorate-General for Development Cooperation (DGDC) (a DG of the Federal Public Service Foreign Affairs, Foreign Trade and Development Cooperation, responsible for managing 55-65% of Belgium's development assistance)
    </p>
</section>

<section id="7_section">
    <h2 class="cp-subtitle">Channel of aid delivery</h2>

    <img src="src/images/belgium_top.jpg" alt="Belgium TOP" class="img-responsive">

    <em class="small">Source: ADAM tool based on OECD CRS dataset</em>

    <p>
        Channels of aid:

        <ul>
            <li>Financing subsidies by indirect cooperation (NGA)</li>
            <li>Governmental cooperation with partner countries</li>
            <li>Participation to multilateral, European and regional cooperation</li>
            <li>Humanitarian aid</li>
        </ul>

    </p>


</section>

<section id="8_section">
    <h2 class="cp-subtitle">Channels of cooperation/approach</h2>

    <p>Having begun with a project focus, the partnership later evolved to focus on field programmes as well as support to national policies. In line with its full core policy, Belgium is now concentrating its support on FAO’s regular budget, while being a major contributor to the FAO Multi-Partner Programme Support Mechanism – the main channel for non-emergency Belgian funding today – as well as the FAO Special Fund for Emergency Activities and other facilities.</p>

    <p>
        <ul>
            <li>Multi-partner programme support mechanism (FMM)
            </li>
         <li>Belgian Fund for Food Security (BFFS)
        </li>
        <li>FAO Special Fund for Emergency Activities-SFERA (humanitarian interventions)</li>
        </ul>
    </p>
    <p>
        Delegated cooperation negotiated directly at country level with the Belgian embassies. This mechanism was applied in 2014 in the Democratic Republic of Congo and Niger.
        Decentralized cooperation with the regions of Flanders and Wallonia.
    </p>

</section>

<section id="9_section">
    <h2 class="cp-subtitle">Type of funding arrangements favoured</h2>

    <p>FMM, GCP, APOs, OSRO</p>
</section>

<section id="10_section">
    <h2 class="cp-subtitle">Annual funding cycle</h2>

    <p>As arranged at annual consultation</p>
</section>

<section id="11_section">
    <h2 class="cp-subtitle">Process of application/negotiation</h2>

    <p>An annual consultation is regularly organized at Headquarters to review and discuss the FAO/BEL programme supported under core financing.
        A new meeting to review the partnership Belgium / FAO will be held soon (April 2016 - to be confirmed) to discuss the next program for 2016-2019 and decide on priority areas for collaboration.
    </p>
</section>

<section id="12_section">
    <h2 class="cp-subtitle">Policy on the approval of budget revision</h2>

    <p>Case-by-case</p>
</section>

<section id="13_section">
    <h2 class="cp-subtitle">Policy on the use of accrued interest</h2>

    <p>Returned to the donor</p>
</section>

<section id="14_section">
    <h2 class="cp-subtitle">Special characteristics/features</h2>

    <p>Belgium opts for the maximum application of so-called core-financing and aims to reduce the amount of earmarked funding (that allocated to specific projects). In addition, multilateral organizations are now financed based on multiannual programmes, which makes Belgian assistance more predictable.</p>
</section>

<section id="15_section">
    <h2 class="cp-subtitle">Links</h2>
    <ul class="list-unstyled">
        <li><a href="http://www.btcctb.org/en/btc-homepage">http://www.minbuza.nl/en</a></li>
        <li><a href="http://diplomatie.belgium.be/en/policy/development_cooperation/">http://diplomatie.belgium.be/en/policy/development_cooperation/</a></li>
        <li class="truncate"><a href="http://diplomatie.belgium.be/en/policy/development_cooperation/what_we_do/themes/inclusive_growth/agriculture_and_food_security/belgian_fund_for_food_security/">http://diplomatie.belgium.be/en/policy/development_cooperation/what_we_do/themes/inclusive_growth/agriculture_and_food_security/belgian_fund_for_food_security/</a></li>
        <li><a href="http://diplomatie.belgium.be/en/binaries/strategy_note_agriculture_food_security_sector_tcm312-126256.pdf">http://diplomatie.belgium.be/en/binaries/strategy_note_agriculture_food_security_sector_tcm312-126256.pdf</a></li>
        <li><a href="http://diplomatie.belgium.be/en/binaries/BFFS_Strategy_paper_EN_def_tcm312-250766.pdf">http://diplomatie.belgium.be/en/binaries/BFFS_Strategy_paper_EN_def_tcm312-250766.pdf</a></li>
        <li><a href="http://diplomatie.belgium.be/en/binaries/brochure_food_aid_tcm312-68016.pdf">http://diplomatie.belgium.be/en/binaries/brochure_food_aid_tcm312-68016.pdf</a></li>
        <li><a href=" http://diplomatie.belgium.be/en/binaries/Strategy_note_Environment_tcm312-257333.pdf"> http://diplomatie.belgium.be/en/binaries/Strategy_note_Environment_tcm312-257333.pdf</a></li>
    </ul>
</section>

<br><br><br><br><br><br><br><br>

</div>