<div>Netherlands</div>


<div id="1_section">
    <div>1</div>
    2. produced from ‘Update This Sheet’ which generates unique flow codes by combining level_1 and level_2 separated by an underscore (e.g. 10_11)
    3. crs_dac.xlsm: requires updates to be made to ‘Edit Bespoke’ and ‘DAC’ sheets. Once updated press the macro button in the ‘Edit Bespoke’ sheet, which will create a new sheet ‘Export This’ which contains the Bespoke category appended to the DAC sheet … this should then be exported out as a csv.
    4. crs_recipients_groupings.xlsx: the base sheet is crs_regions_countries which is used as a reference for the title columns in crs_fao_regions and crs_income_groups. The regional projects are split out and placed into crs_regional_projects. These 4 sheets are exported out as a csv.  </div>
<div id="2_section">
    <div>2</div>
    produced from ‘Update This Sheet’ which generates unique flow codes by combining level_1 and level_2 separated by an underscore (e.g. 10_11)
    3. crs_dac.xlsm: requires updates to be made to ‘Edit Bespoke’ and ‘DAC’ sheets. Once updated press the macro button in the ‘Edit Bespoke’ sheet, which will create a new sheet ‘Export This’ which contains the Bespoke category appended to the DAC sheet … this should then be exported out as a csv.
    4. crs_recipients_groupings.xlsx: the base sheet is crs_regions_countries which is used as a reference for the title columns in crs_fao_regions and crs_income_groups. The regional projects are split out and placed into crs_regional_projects. These 4 sheets are exported out as a csv.  </div>
<div id="3_section">
    <div>3</div>
    2. produced from ‘Update This Sheet’ which generates unique flow codes by combining level_1 and level_2 separated by an underscore (e.g. 10_11)
    3. crs_dac.xlsm: requires updates to be made to ‘Edit Bespoke’ and ‘DAC’ sheets. Once updated press the macro button in the ‘Edit Bespoke’ sheet, which will create a new sheet ‘Export This’ which contains the Bespoke category appended to the DAC sheet … this should then be exported out as a csv.
    4. crs_recipients_groupings.xlsx: the base sheet is crs_regions_countries which is used as a reference for the title columns in crs_fao_regions and crs_income_groups. The regional projects are split out and placed into crs_regional_projects. These 4 sheets are exported out as a csv.  </div>
   <div id="4_section">
    <div>4</div>
    2. produced from ‘Update This Sheet’ which generates unique flow codes by combining level_1 and level_2 separated by an underscore (e.g. 10_11)
    3. crs_dac.xlsm: requires updates to be made to ‘Edit Bespoke’ and ‘DAC’ sheets. Once updated press the macro button in the ‘Edit Bespoke’ sheet, which will create a new sheet ‘Export This’ which contains the Bespoke category appended to the DAC sheet … this should then be exported out as a csv.
    4. crs_recipients_groupings.xlsx: the base sheet is crs_regions_countries which is used as a reference for the title columns in crs_fao_regions and crs_income_groups. The regional projects are split out and placed into crs_regional_projects. These 4 sheets are exported out as a csv.  </div>
<div id="5_section">
    <div>5</div>2. produced from ‘Update This Sheet’ which generates unique flow codes by combining level_1 and level_2 separated by an underscore (e.g. 10_11)
    3. crs_dac.xlsm: requires updates to be made to ‘Edit Bespoke’ and ‘DAC’ sheets. Once updated press the macro button in the ‘Edit Bespoke’ sheet, which will create a new sheet ‘Export This’ which contains the Bespoke category appended to the DAC sheet … this should then be exported out as a csv.
    4. crs_recipients_groupings.xlsx: the base sheet is crs_regions_countries which is used as a reference for the title columns in crs_fao_regions and crs_income_groups. The regional projects are split out and placed into crs_regional_projects. These 4 sheets are exported out as a csv.  </div>
<div id="6_section">
    <div>6</div>
    2. produced from ‘Update This Sheet’ which generates unique flow codes by combining level_1 and level_2 separated by an underscore (e.g. 10_11)
    3. crs_dac.xlsm: requires updates to be made to ‘Edit Bespoke’ and ‘DAC’ sheets. Once updated press the macro button in the ‘Edit Bespoke’ sheet, which will create a new sheet ‘Export This’ which contains the Bespoke category appended to the DAC sheet … this should then be exported out as a csv.
    4. crs_recipients_groupings.xlsx: the base sheet is crs_regions_countries which is used as a reference for the title columns in crs_fao_regions and crs_income_groups. The regional projects are split out and placed into crs_regional_projects. These 4 sheets are exported out as a csv.  </div>