<div class="clearfix">
    <h1 class="cp-title">Netherlands</h1>

    <img src="src/images/neth.svg" alt="Netherlands flag" class="cp-flag">

</div>


<section id="1_section">
    <h2 class="cp-subtitle">Overview and key figures</h2>

    <p>According to OECD DAC figures, in 2014, the Netherlands provided USD 5.6 billion in net ODA, which
        represented
        0.64% of gross national income (GNI) and an increase of 1.8% in real terms from 2013. This represents a
        slight
        reversal of the downward trend in ODA volume started in 2011. ODA dropped below the 0.7% ODA/GNI target in
        2013
        for the first time since 1975 due to budgetary cutbacks in order to improve public finances. However, the
        Netherlands remains committed to the 0.7% target. The Netherlands is the sixth largest Development
        Assistance
        Committee (DAC) donor in terms of ODA as a percentage of GNI, and the seventh largest donor by volume.</p>

        <img src="src/images/neth_oda.jpg" alt="Netherlands ODA" class="img-responsive">

        <em class="small">Source: OECD DAC dataset</em>


</section>

<section id="2_section">
    <h2 class="cp-subtitle">Overall strategy / Stated priority themes</h2>

    <p>Development cooperation is one of the Netherlands Ministry of Foreign Affairs’ principal tasks.
        In October 2007, Minister for Development Cooperation Bert Koenders presented his new development policy,
        ‘Our Common Concern: investing in development in a changing world.’
        The new policy emphasizes more Dutch investment in fragile states and in countries which have the most
        ground to make up in achieving the Sustainable Development Goals.
    </p>

    <p>Since 2010, Dutch development policy has undergone far-reaching reforms: partner countries have been reduced
        from 33 to 15, ten of them in Sub-Saharan Africa. The Dutch government is aligning development more strongly
        with foreign trade and established a new cabinet-level post of a Minister for Foreign Trade and Development
        Cooperation.
    </p>

    <p>The Netherlands favors an integrated approach to international policy. Issues of peace and security, good
        governance and human rights, trade, poverty, the environment, and migration are all closely
        interconnected.</p>


    <p>Bilateral cooperation concentrates on five sectors that the government considers relevant for poverty
        reduction, to which the Netherlands can add value through expertise and which are of interest to Dutch
        businesses, civil society organizations (CSOs), and research institutions.
        These sectors - also referred to as "spearheads" – are:

    <ul>


        <li>Migration</li>
        <li>Gender, women's rights and sexual and reproductive health and rights (SRHR)</li>
        <li>Water</li>
        <li>Food security</li>
        <li>Security and the rule of law</li>

    </ul>

    Environment and good governance are the Netherlands' cross-cutting priorities.
    </p>

</section>

<section id="3_section">
    <h2 class="cp-subtitle">FAO Related priorities</h2>

    <p>The Netherlands became an FAO member in 1945, and has since been a valuable resource partner on multiple FAO
        projects and programmes. The Netherlands shares FAO’s continued interest in developing programmes for the
        financial inclusion of family farmers, especially women, by treating them as entrepreneurs and promoting
        their access to better credit and resilience. The Netherlands is also one of FAO’s largest donors for locust
        control issues.


    <ul>


        <li>Supporting fisheries and aquaculture</li>
        <li>Eliminating child labour in agriculture</li>
        <li>Support for climate-smart agricultural systems</li>
        <li>Desert locust control programmes</li>
        <li>Improving water management</li>

    </ul>
    </p>

    <p>Water Management
    <ul>


        <li>Safe, clean drinking water, improved access to safe drinking water and sanitation for 25 million
            people;
        </li>
        <li>Water management, improved river basin management and safe deltas;</li>
        <li>Raising water productivity in farming by 25%.</li>
    </ul>
    </p>


    <p>Food Security
    <ul>


        <li>Continue reducing poverty;</li>
        <li>Improve agricultural policies in developing countries;</li>
        <li>Prevent post-harvest losses;</li>
        <li>Improve the infrastructure for the distribution of food;</li>
        <li>Reduce the vulnerability of local farmers by, for example, enabling them to take out insurance against
            loss of income.
        </li>

    </ul>
    </p>
</section>


<section id="4_section">
    <h2 class="cp-subtitle">Priority geographical areas</h2>

    <p>The following fifteen countries will continue to be partner countries: Afghanistan - Bangladesh - Benin -
        Burundi - Ethiopia - Ghana - Indonesia - Kenya - Mali - Mozambique - the Palestinian Territories - Rwanda –
        South Sudan - Uganda and Yemen.
    </p>


    <p>Temporary assistance for the transition from development cooperation to economic cooperation will go to three
        countries: Colombia - Vietnam - and South Africa</p>


    <p>According to OECD figures, top 10 recipients of Dutch bilateral ODA in 2013-2014 were: Afghanistan, South
        Sudan, Mali, Bangladesh, Rwanda, Ghana, Syrian Arab Republic, Burundi, West Bank and Gaza Strip.</p>

    <img src="src/images/neth_top.jpg" alt="Netherlands TOP" class="img-responsive">

    <em class="small">Source: ADAM tool based on OECD CRS dataset</em>


</section>

<section id="4b_section">
    <h2 class="cp-subtitle">AID by Sector</h2>
     <p>-</p>
</section>


<section id="5_section">
    <h2 class="cp-subtitle">ODA by Sector</h2>

    <p>Main sectors of bilateral spending in 2013-2014 annual average, according to OCED DAC purpose codes, were
        social infrastructure (22,7%), economic infrastructure (15,2%), production (9,9%), multisector (9,2%),
        education health and population (9,0%), humanitarian aid (7,8%). </p>


    <img src="src/images/neth_top.jpg" alt="Netherlands TOP" class="img-responsive">


    <em class="small">Source: ADAM tool based on OECD CRS dataset</em>

    <img src="src/images/neth_oda.jpg" alt="Netherlands ODA" class="img-responsive">

    <em class="small">Source: ADAM tool based on OECD CRS dataset</em>
</section>

<section id="6_section">
    <h2 class="cp-subtitle">Funding bodies within resource partner</h2>

    <p>
    <ul>
        <li>Ministry for foreign Trade and Development Cooperation</li>
        <li>Ministry for Agriculture</li>
        <li>Ministry of Economic Affairs</li>
    </ul>
    </p>
</section>

<section id="7_section">
    <h2 class="cp-subtitle">Channel of aid delivery</h2>

    <img src="src/images/neth_top.jpg" alt="Netherlands TOP" class="img-responsive">

    <em class="small">Source: ADAM tool based on OECD CRS dataset</em>
</section>

<section id="8_section">
    <h2 class="cp-subtitle">Channels of cooperation/approach</h2>

    <p>Central and local level</p>
</section>

<section id="9_section">
    <h2 class="cp-subtitle">Type of funding arrangements favoured</h2>

    <p>GCP - APOs - FMM – OSRO</p>
</section>

<section id="10_section">
    <h2 class="cp-subtitle">Annual funding cycle</h2>

    <p>-</p>
</section>

<section id="11_section">
    <h2 class="cp-subtitle">Process of application/negotiation</h2>

    <p>Mobilization of financial support from the Netherlands for FAO action in the field will normally start at the
        initiative of FAO through consultation with the Embassy of the Netherlands in one of the 15 partner
        countries.</p>
</section>

<section id="12_section">
    <h2 class="cp-subtitle">Policy on the approval of budget revision</h2>

    <p>If funds have been provided by the Netherlands Embassy, the budget revision will be submitted to the Embassy for
        approval. For funds made available at global level, the budget revision will be submitted to the Permanent
        Representation of FAO in Rome.</p>
</section>

<section id="13_section">
    <h2 class="cp-subtitle">Policy on the use of accrued interest</h2>

    <p>In line with FAO's rules and regulations.</p>
</section>

<section id="14_section">
    <h2 class="cp-subtitle">Special characteristics/features</h2>

    <p>-</p>
</section>

<section id="15_section">
    <h2 class="cp-subtitle">Links</h2>
    <ul class="list-unstyled">
        <li><a href="http://www.minbuza.nl/en">http://www.minbuza.nl/en</a></li>
    </ul>
</section>

<br><br><br><br><br><br><br><br>

</div>