<div class="row">

    <div class="col-sm-12">
        <div class="row">
            <div id="profiles-filter-holder" class="col-sm-12">
            </div>
        </div>
    </div>
</div>

<div class="col-md-3" id="lateral-menu">


</div>


<div class="col-md-9" id="content">

</div>


