<div class="row">
    <div class="col-sm-12">

        <div id="compare-filter"></div>
        <hr>
        <button disabled id="add-btn" type="button" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <hr>
        <div id="compare-analysis"></div>

    </div>
</div>