<h1>{{ title }}</h1>

<hr>

<button id="compare-collapse-btn" class="btn btn-default pull-right">{{ collapse_btn }}</button><br>

<hr>

<!-- Selectors container -->
<div id="analyze-compare-selectors"></div>

<hr>

<!-- Compare and reset btn-->
<button data-btn id="compare-btn" class="btn btn-default pull-right">{{ compare_btn }}</button>
<button data-btn id="reset-btn" class="btn btn-default pull-right">{{ reset_btn }}</button><br>

<hr>

<div id="error-container"></div>

<!-- Results container -->
<div id="analyze-compare-results"></div>