<div class="row">

    <div class="col-sm-12">
         <div class="row">
            <div id="browse-filter-holder" class="col-sm-12">
            </div>
        </div>
        <div class="row fx-title-bar">
            <div id="fx-title">
                <div class="col-sm-12">
                    <!-- <div class="col-sm-2" id="fx-title-label">{{selections}}: </div>
                     <div class="col-sm-10" id="fx-title-items"></div>-->
                    <div id="fx-title-items"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="browse-indicator-content">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="browse-oecd-content">
                </div>
            </div>
        </div>

    </div>


</div>
