<div class="row">

    <div id="side-browse" class="col-sm-12">


        <div class="row">
            <div class="col-xs-12">
                <div class="obj-box">
                    <div id="filter-browse" class="filter-container">
                    </div>
                    <button id="filter-submit-btn-browse" class="btn btn-default"> {{filter_btn}}</button>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-sm-12">
                <div id="browse-topic-content">
                    dashboard
                </div>

            </div>
        </div>

    </div>


</div>
