<div class="row">

    <div class="col-sm-12">
         <div class="row">
            <div id="browse-filter-holder" class="col-sm-12">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" id="progress-bar-holder">
            </div>
            <div class="col-sm-12">
                <div id="browse-indicator-content">
                </div>

            </div>
        </div>
        <!--<div class="row fx-title-bar">
           <div id="fx-title">-->
                <div class="col-sm-12">
                    <div id="fx-title-items"></div>
                </div>
         <!--   </div>
        </div>-->
        <div class="row">
            <div class="col-sm-12">

              <!-- <div id="browse-title-bar-fixed" data-spy="affix" class="well well-sm" >
               </div>-->

                <div id="browse-top-link-fixed" data-spy="affix" class="well well-sm">
                    <a href="#" id="backToTopBtn">
                     <span class="fa fa-chevron-up"></span>
                    </a>
                </div>

                <div id="browse-oecd-content">
                </div>
            </div>
        </div>

    </div>


</div>


