<div>
    <section data-topic="sector">

          <div class="row">
                       <div class="col-xs-6">
                           <div class="obj-box-header"><h1>Total ODA</h1></div>
                           <div class="obj-box">
                           <div id="item-1"></div>
                           </div>
                       </div>
                        <div class="col-xs-6">
                                <div class="obj-box-header"><h1>Top 20 Donors</h1></div>
                              <div class="obj-box">
                                  <div id="item-2"></div>
                               <!--  <p>Note: Only the top 20 donors are shown in the chart.</p>   -->
                             </div>
                        </div>
           </div>
             <div class="row">
                                  <div class="col-xs-12">
                                      <div class="obj-box-header"><h1>Channels of Delivery</h1></div>
                                      <div class="obj-box">
                                      <div id="item-3"></div>
                                      </div>
                                  </div>
                      </div>

    </section>
     <section data-topic="country_sector">

              <div class="row">
                           <div class="col-xs-6">
                               <div class="obj-box-header"><h1>Total ODA</h1></div>
                               <div class="obj-box">
                               <div id="item-1"></div>
                               </div>
                           </div>
                            <div class="col-xs-6">
                                                                         <div class="obj-box-header"><h1>Total ODA for most financed sectors</h1></div>
                                                                         <div class="obj-box">
                                                                         <div id="item-3"></div>
                                                                         </div>
                                                                     </div>

               </div>
               <div class="row">
                 <div class="col-xs-6">
                                                   <div class="obj-box-header"><h1>Top 20 Donors</h1></div>
                                                 <div class="obj-box">
                                                     <div id="item-2"></div>
                                                 </div>
                                           </div>

                                           <div class="col-xs-6">
                                                   <div class="obj-box-header"><h1>Channels of Delivery</h1></div>
                                                 <div class="obj-box">
                                                     <div id="item-4"></div>
                                                 </div>
                                           </div>
                              </div>


        </section>

</div>
