<div>
    <section data-topic="country_sector">
            <div class="row">
                <div class="col-sm-12">
                    <div class="obj-box-header"><h1>{{country_development_indicators}}: {{country}}</h1></div>
                    <div class="obj-box">
                        <div id="indicator-1"></div>
                    </div>
                </div>
            </div>
     </section>
      <section data-topic="donor_sector">
                 <div class="row">
                     <div class="col-sm-12">
                         <div class="obj-box-header"><h1>{{donor_development_indicators}}: {{country}}</h1></div>
                         <div class="obj-box">
                             <div id="indicator-1"></div>
                         </div>
                     </div>
                 </div>
    </section>
</div>
